#asset-status {
    color: #fff;
    display: inline-block;
    background: #333;
    padding: 0.5em;
}
#asset-status h2 {
    margin: 0;
}

#asset-status section::after {
    content: "\274C  CssMinify"; /* CROSS MARK */
    display: block;
}

#asset-status * {
}
